.footer {
   background: #0a0a0a;
    padding: 20px 10px;
    text-align: center;
    border-top: 1px solid rgba(0, 255, 174, 0.2);
}

/* .footer p {
    color: #777;
    font-size: 14px;
} */
 .footer p {
    color: #aaa;
    letter-spacing: 0.5px;
}

/* Tablet */
@media (max-width: 992px) {
    .footer {
        padding: 10px 10px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .footer {
        padding: 3px 10px;
    }
}